@using Rugal.MVC.UILibraryCore.Model
@model LibraryLayoutModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UILibrary</title>
    <link href="~/UILibrary/www/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div style="height:10vh">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a id="BackLink" class="navbar-brand" href="#">Back</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (Model.Enable_VcEditor)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                   href="@Model.VcEditorRoute">VcEditor</a>
                                </li>
                            }

                            @if (Model.Enable_VcController)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                   href="@Model.VcControllerRoute">VcController</a>
                                </li>
                            }

                            @if (Model.Enable_ApiLibrary)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark"
                                   href="@Model.ApiLibraryRoute">ApiLibrary</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/UILibrary/www/js/bootstrap.bundle.min.js"></script>
    <script src="~/UILibrary/www/js/vue3.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
    let GetBackUrl = document.referrer;
    if (!GetBackUrl.toLocaleLowerCase().includes('apilibrary') && !GetBackUrl.toLocaleLowerCase().includes('vclibrary')) {
        sessionStorage.setItem('BackUrl', GetBackUrl);
    }
    let BackUrl = sessionStorage['BackUrl'];
    document.getElementById('BackLink').href = BackUrl;
</script>